      <div class="col-md-9">
        <dl class="dl-horizontal" style="font-size: 120%">
	  {{if .Branch}}<dt>Branch</dt>
	  <dd>{{.Branch}}</dd>{{end}}
	  <dt>Platform</dt>
	  <dd>{{.Platform}}</dd>
	  <dt>Compiler</dt>
	  <dd>{{.Compiler}}</dd>
	  <dt>Timestamp</dt>
	  <dd>{{.BuildTs}}</dd>
	  <dt>User</dt>
	  <dd>{{.BuildUser}}</dd>
	  {{if .ReportUrl}}
	  <dt>Report URL</dt>
	  <dd>
		<a href="{{.ReportUrl}}">{{.ReportUrl}}</a>
	  </dd>
	  {{end}}
	</dl>
      </div>
      <div class="col-md-3">
	<canvas id="bulk-pie" width="180" height="180"></canvas>
      </div>
    </div>
    <div class="row">
      <script type="text/javascript">

	$(function() {
	  // Create and populate the data table.
	  var data = {
	    labels: ['OK', 'prefailed', 'indirect-failed', 'failed'],
	    datasets: [{
	      backgroundColor: ['green', 'blue', 'orange', 'red'],
	      borderWidth: 1,
	      data: [{{.NumOk}}, {{.NumPrefailed}}, {{.NumIndirectFailed}}, {{.NumFailed}}],
	    }],
	  };

	  // Create and draw the visualization.
	  new Chart(document.getElementById('bulk-pie'), {
	    type: 'doughnut',
	    data: data,
	    options: {
	      animation: false,
	      responsive: false,
	      plugins: {
		legend: {
		  display: false,
		},
	      },
	    },
	  });
	});
      </script>
