<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>BulkTracker</title>

    <link href="/static/bootstrap.min.css" rel="stylesheet">
    <link href="/static/dataTables.bootstrap.css" rel="stylesheet">
    <style type="text/css">
      .column-item {
	width: 16em;
      }
    </style>
  </head>
  <body>
  <script src="/static/jquery.min.js"></script>
  <script src="/static/bootstrap.min.js"></script>
  <script src="/static/jquery.dataTables.min.js"></script>
  <script src="/static/dataTables.bootstrap.js"></script>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <div style="background:#F26711; padding: 20px; margin-bottom: 20px">
  <div class="pull-left" style="padding-right: 20px">
    <a href="/"><img src="/static/pkgsrc-white.png" width="64px" height="64px"></a>
  </div>
  <h1>
    <a href="/" style="color: white">
      BulkTracker
      <small style="color: white">pkgsrc bulk build status</small>
    </a>
  </h1>
  </div>
  <div class="container">
  <div class="row">

