    <p></p>
    <div id="error" style="display: none" class="alert alert-danger">An error occurred.</div>
    <div id="results">

    <h2>Build results for <span id="pkgname-header">package</span></h2>

    <form>
      <div class="radio">
	<label>
	  <input type="radio" name="builds" id="latest" value="latest" checked>
	  Show latest build result for each platform
	</label>
      </div>
      <div class="radio">
	<label>
	  <input type="radio" name="builds" id="all" value="all">
	  Show all results
	</label>
      </div>
    </form>

    <script type="text/javascript" src="{{.BasePath}}static/pkgresults.js"></script>

    <table class="table">
      <thead>
	<tr>
	  <th>Package Name</th>
	  <th>Status</th>
	  <th>Build Timestamp</th>
	  <th>Branch</th>
	  <th>Platform</th>
	  <th>Compiler</th>
	</tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
