<!--
  <div class="alert alert-warning" role="alert">
  </div>
-->

  <div class="jumbotron">
    <p>BulkTracker is a web app to follow bulk build status in pkgsrc,
      the <a href="http://www.NetBSD.org/">NetBSD</a> package collection.
    </p>
    <p>
      <a class="btn btn-primary btn-lg" role="button" href="http://www.pkgsrc.org/">Learn more about pkgsrc</a>
    </p>
    <p>
      <b>Update, October 2023:</b>
      Stats for builds (number of packages, etc.) are fixed. Builds before the last update are missing package numbers.
    </p>
  </div>

  <script type="text/javascript" src="/static/select-pkgresult.js"></script>

  <h2>Search for package results</h2>

  <form id="pkgresults" class="form-inline col-lg-6">
    <div class="form-group">
      <div class="input-group">
	<select id="results-pkg" type="text" class="form-control" placeholder="category/package"></select>
	<span class="input-group-btn">
	  <button id="results-submit" class="btn btn-warning" type="submit">Show results</button>
	</span>
      </div>
    </div>
  </form>

  </div><div class="row">

  <h2>Latest Builds per Platform&nbsp; <a href="/builds" class="btn btn-primary">Show all</a></h2>

